In [6]:
%run '/Users/akhilmoris/Desktop/CollegeProjects/TradingAlgosImplementation/TradingAlgorithms/meanReversionAlgo.ipynb'

In [2]:
import datetime
import pandas as pd
from backtesting import Backtest
from backtesting import Strategy
from backtesting.lib import crossover
from backtesting.test import GOOG
import talib
import yfinance as yf

In [3]:
aapl = yf.Ticker("aapl")
aapl_historical = aapl.history(start="2020-06-02", end="2023-06-07")
aapl_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-06-02 00:00:00-04:00,78.312345,78.969119,77.867983,78.944702,87642800,0.0,0.0
2020-06-03 00:00:00-04:00,79.266956,79.642955,78.690749,79.379265,104491200,0.0,0.0
2020-06-04 00:00:00-04:00,79.201056,79.501360,78.319657,78.695656,87560400,0.0,0.0
2020-06-05 00:00:00-04:00,78.947122,80.998012,78.917825,80.936974,137250400,0.0,0.0
2020-06-08 00:00:00-04:00,80.631796,81.449712,79.916427,81.415527,95654400,0.0,0.0
...,...,...,...,...,...,...,...
2023-05-31 00:00:00-04:00,176.393224,178.402557,175.826227,176.313644,99625300,0.0,0.0
2023-06-01 00:00:00-04:00,176.761268,179.168482,175.995331,179.138641,68901800,0.0,0.0
2023-06-02 00:00:00-04:00,180.073674,180.819712,178.313020,179.994095,61945900,0.0,0.0
2023-06-05 00:00:00-04:00,181.665223,183.972959,177.099459,178.631332,121946500,0.0,0.0
2023-06-06 00:00:00-04:00,179.019270,179.168472,176.492680,178.263290,64848400,0.0,0.0

In [7]:
MeanReversionStrat(aapl_historical,20)

Start                     2020-06-02 00:00...
End                       2023-06-06 00:00...
Duration                   1099 days 00:00:00
Exposure Time [%]                   43.346509
Equity Final [$]                 10798.190694
Equity Peak [$]                  12374.564946
Return [%]                           7.981907
Buy & Hold Return [%]              125.807794
Return (Ann.) [%]                    2.582448
Volatility (Ann.) [%]               22.267679
Sharpe Ratio                         0.115973
Sortino Ratio                        0.173932
Calmar Ratio                         0.096827
Max. Drawdown [%]                  -26.670665
Avg. Drawdown [%]                   -7.614619
Max. Drawdown Duration      844 days 00:00:00
Avg. Drawdown Duration      162 days 00:00:00
# Trades                                   36
Win Rate [%]                        72.222222
Best Trade [%]                       3.898131
Worst Trade [%]                     -8.662728
Avg. Trade [%]                       0.218409
Max. Trade Duration          56 days 00:00:00
Avg. Trade Duration          12 days 00:00:00
Profit Factor                        1.219724
Expectancy [%]                       0.274353
SQN                                  0.355018
_strategy                       MeanReversion
_equity_curve                             ...
_trades                       Size  EntryB...
dtype: object